<div>
  <h2>Usuários</h2>

  <!-- Lista de Usuários -->
  <div *ngFor="let usuario of usuarios">
    <div>ID: {{ usuario.id }}</div>
    <div>Nome: {{ usuario.nome }}</div>
    <div>Senha: {{ usuario.senha }}</div>
    <button (click)="selecionarUsuario(usuario)">Editar</button>
    <button (click)="excluirUsuario(usuario.id)">Deletar</button>
  </div>

  <!-- Formulário para adicionar/editar usuários -->
  <form (ngSubmit)="salvarUsuario()">
    <input [(ngModel)]="usuarioSelecionado.nome" name="nome" placeholder="Nome" required>
    <input [(ngModel)]="usuarioSelecionado.senha" name="senha" placeholder="Senha" required>
    <button type="submit">Salvar</button>
  </form>
</div>
